<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
{% block head %}
<title>{% block title %}Pyramid OpenID{% endblock %}</title>
{% block css %}
<link rel="stylesheet" type="text/css" href="{{request.scheme}}://yui.yahooapis.com/combo?3.2.0/build/cssreset/reset-min.css&3.2.0/build/cssfonts/fonts-min.css&3.2.0/build/cssgrids/grids-min.css">
{% endblock%}
{% endblock %}
</head>
<body>
{% block body %}
<p>Ponzi-OpenID demonstration templates.</p>
{% endblock %}
{% block js %}{% endblock%}
</body>
</html>
